
.icon-air:before { content: '\e807'; } /* '' */
.icon-down:before { content: '\e808'; } /* '' */
.icon-line:before { content: '\e809'; } /* '' */
.icon-shield:before { content: '\e80a'; } /* '' */
.icon-street:before { content: '\e80b'; } /* '' */
.icon-transform:before { content: '\e80c'; } /* '' */
.icon-comm:before { content: '\e80d'; } /* '' */
.icon-con:before { content: '\e80e'; } /* '' */
.icon-disp:before { content: '\e80f'; } /* '' */
.icon-dogov:before { content: '\e810'; } /* '' */
.icon-garant:before { content: '\e811'; } /* '' */
.icon-znania:before { content: '\e812'; } /* '' */
.icon-logo:before { content: '\e813'; } /* '' */