/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #151e3b; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #151e3b; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #151e3b; }
.hm-gradient .full-bg-img {
              background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
              background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
              background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);
          }
          .card {
              background-color: rgba(229, 228, 255, 0.2);
          }

           .md-form .prefix {
              font-size: 1.5rem;
              margin-top: 1rem;
          }
          .md-form label {
              color: #ffffff;
          }
          h6 {
              line-height: 1.7;
          }
          @media (max-width: 740px) {
              .full-height,
              .full-height body,
              .full-height header,
              .full-height header .view {
                  height: 1040px;
              }
          }
