
.icon-shai:before { content: '\e800'; } /* '' */
.icon-abr:before { content: '\e801'; } /* '' */
.icon-ank:before { content: '\e802'; } /* '' */
.icon-bolts:before { content: '\e803'; } /* '' */
.icon-duib:before { content: '\e804'; } /* '' */
.icon-gak:before { content: '\e805'; } /* '' */
.icon-gvo:before { content: '\e806'; } /* '' */
.icon-perf:before { content: '\e807'; } /* '' */
.icon-shpi:before { content: '\e808'; } /* '' */
.icon-shpo:before { content: '\e809'; } /* '' */
.icon-shti:before { content: '\e80a'; } /* '' */
.icon-shur:before { content: '\e80b'; } /* '' */
.icon-tak:before { content: '\e80c'; } /* '' */
.icon-vint:before { content: '\e80d'; } /* '' */
.icon-zag:before { content: '\e80e'; } /* '' */
.icon-zak:before { content: '\e80f'; } /* '' */